* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.navbar-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 7px;
    margin-top: 10px;
    position: sticky;
}

body{
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    min-height: 100vh;
}



.text-description {
    text-align: center;
}

#getStarted {
    display: inherit;
}


fieldset {
    margin: 0 40px 0;
}

.image-wrapper{
    height: 150px;
    width: auto;
    margin-top: 10px
}

.result-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 100%;
    width: auto;
}

.fit-image{
    width: 100%;
    object-fit: cover;
    height: 300px; /* only if you want fixed height */
    }

.carousel-inner {
    height: 350px;
}

.carousel-item {
    height: 350px;
}

.form-control::placeholder {
    color: #000
}

.navbar-brand {
    height: 60px;
    width: auto;
}

.btn {
    background-color: #020079;
    border-color: #020079;
}

/* .btn:hover {
    background-color: #82A7A6;
} */

#resultsSection {
    background-image: linear-gradient(to bottom left, #82a7a6, #12355b);
    height: 100vh;
}

.carousel {
    background-color: rgba(116, 131, 134, 0.3);
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-weight: bold;
}

p, h4 {
    color: #FFF
}