* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.navbar-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 7px;
    margin-top: 10px;
    position: sticky;
}

body{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
}



 .text-description {
    text-align: center;
    color: red;
}
#getStarted {
    display: inherit;
}


fieldset {
    margin: 0 40px 0;
}






