* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.navbar-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 7px;
    margin-top: 10px;
    position: sticky;
}

body{
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    min-height: 100vh;
}



.text-description {
    text-align: center;
}

#getStarted {
    display: inherit;
}


fieldset {
    margin: 0 40px 0;
}

.image-wrapper{
    height: 150px;
    width: auto;
    margin: 0
}

.result-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 100%;
    width: auto;
}

.fit-image{
    width: 100%;
    object-fit: cover;
    height: 300px; /* only if you want fixed height */
    }

.carousel-inner {
    height: 350px;
}

.carousel-item {
    height: 350px;
}

.form-control::placeholder {
    color: #000
}

